*{

	margin: 0;
	padding: 0;
}

body{

	background-image: url("../grfx/img/background.jpg");
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
}



#kop{
	
	position: absolute;
	top: 300px;
	z-index: 10000;
	margin-left: 650px;
	
	font-size: 50px;
	color: white;
	font-family: 'Press Start 2P', cursive;

}

#kop a{

	text-decoration: none;
	list-style-type: none;
	color: white;


}

#knop{
   
   position: absolute;
   top: 500px;
   left: 850px;

   line-height: 25px;

   padding: 10px;
   font-size: 18px;
   font-weight: bolder;
   width: 200px;
   height: auto;
   font-family: 'Press Start 2P', cursive;
    
}

#knop2{

   position: absolute;
   top: 500px;
   left: 850px;
   display: none;
   line-height: 25px;

   padding: 10px;
   font-size: 18px;
   font-weight: bolder;
   width: 200px;
   height: auto;
   font-family: 'Press Start 2P', cursive;

}

#knop3{

   position: absolute;
   top: 500px;
   left: 850px;
   display: none;
   line-height: 25px;

   padding: 10px;
   font-size: 18px;
   font-weight: bolder;
   width: 200px;
   height: auto;
   font-family: 'Press Start 2P', cursive;	


}

#tekstinv{

	font-family: 'Press Start 2P', cursive;

	position: absolute;
	top: 600px;
	left: 1500px;
	font-size: 40px;
	color: white;

	display: none;
}



#key{

	width: 100px;
	height: 100px;
	opacity: 0.5;
	position: absolute;
	top: 600px;
	left: 500px;

	display: none;

}

#wolf{

	position: absolute;
    top: 650px;
    left: 850px;

	display: none;

	width: 200px;
	height: 100px;	


}

#inventory{

	width: 400px ;
	height: 100px;
	border: black solid 5px;

	position: absolute;
	top: 650px;
	left: 1500px;
	display: none ;
}

#keyobject{

	background-color: white;
	border-right: solid black 5px;
	width: 100px;
	height: 100px;
	display: none;	

	
}

#swordobject{

	background-color: white;
	border-right: solid black 5px;
	width: 100px;
	height: 100px;
	display: none;	
	position: relative;
	left: 105px;
	top: -103px;

	
}

#verhaal{

	position: absolute;
	top: 200px;
	background-color: rgba(0,0,0, 0.5);
	margin-left: 300px;
	margin-right: 300px;
	font-size: 20px;
	color: white;
	line-height: 50px;
	font-family: 'Press Start 2P', cursive;
	padding: 10px;

	display: none;


}

span{

	font-style: italic;
}

#sword{

	width: 150px;
	height: auto;

	position: absolute;
	left: 875px;
	top: 500px;
	display: none;
}